@model IEnumerable<BusinessLayer.EmployeeFromBusinessLayer>

@{
    ViewBag.Title = "Index";
}

<div style="font-family:Arial">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <!--Note that, we are using "Html.BeginForm()" html helper to generate a form tag.-->
            using (Html.BeginForm("Delete", "EmployeeUsingBusinessLayer", new { id = item.ID }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        <!--To include client-side confirmation, before the data can be deleted, add the "onclick" attribute to "Delete" button-->
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete record with ID = @item.ID');" />
                    </td>
                </tr>
            }
        }

    </table>
</div>
